.btn button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    color: orange;
    cursor: pointer;
    border: 1px solid black;
}

.decrement {
    background-color: red;
}

.reset {
    background-color: black;
}

.increment {
    background-color: green;
}

.btn button:hover {
    border: 1px solid #fff;
}

.count {
    width: 100px;
    background-color: grey;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
}