.form-fieldset {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;

  legend {
    font-weight: 600;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: #3f51b5;
  }
}

.cont{
  display: flex
;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

// .dynamic-form-grid {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 1rem;

//   > div {
//     box-sizing: border-box;
//   }

//   .full-width {
//     width: 100%;
//   }
// }


